@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Otaku-kun! Open the fun world of anime and never forget if you have already watched this title or not!</p>
</div>
